

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi-Medium.eot');
    src: url('fonts/Satoshi-Medium.eot?#iefix') format('embedded-opentype'), url('fonts/Satoshi-Medium.woff2') format('woff2'), url('fonts/Satoshi-Medium.woff') format('woff'), url('fonts/Satoshi-Medium.ttf') format('truetype'), url('fonts/Satoshi-Medium.svg#Satoshi-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi-Bold.eot');
    src: url('fonts/Satoshi-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/Satoshi-Bold.woff2') format('woff2'), url('fonts/Satoshi-Bold.woff') format('woff'), url('fonts/Satoshi-Bold.ttf') format('truetype'), url('fonts/Satoshi-Bold.svg#Satoshi-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi-Black.eot');
    src: url('fonts/Satoshi-Black.eot?#iefix') format('embedded-opentype'), url('fonts/Satoshi-Black.woff2') format('woff2'), url('fonts/Satoshi-Black.woff') format('woff'), url('fonts/Satoshi-Black.ttf') format('truetype'), url('fonts/Satoshi-Black.svg#Satoshi-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
 

body {
    font-family: 'Satoshi' !important;
    font-weight: 500;
    font-size:16px;
}
p{
    color:#000;
}
.fixed {
    position: fixed;
    top: 0;
    left:0;
    width:100%;
    background:#fff;
    z-index:99;
    transition:1s ease
}
.small_fnt {
    font-size: 13px;
    color: #000
}

.small_fnt1 {
    font-size: 14px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    margin: 0 15px;
    color: #414042 !important;
    padding: 0;
}

.nav-item:last-child {
    border-right: 0px;
}

    .nav-item {
        border-right: 1px solid #414042;
        
    }

.Mainslider{
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
}

.main_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-items: center;
    margin: 0;
    padding: 10% 0;
}

    .main_title h1 {
        font-size: 48px;
        font-weight: 900;
        margin: 5% 0;
        text-align: center;
        color: #414042;
    }
.main_title img{
    width:100px;
}

.btn_main {
    background: #414042;
    color:#fff;
    border-radius:0 !important;
}

.btn_main:hover {
    background: #000;
    color: #fff; 
}

.title {
    font-size: 30px;
    color: #1ca9ec; 
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom:5px
}
.ftitle {
    font-size: 24px;
    color: #fff; 
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 5px
}
.sub_title {
    font-size: 20px;
    color: #000; 
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 5px;
    margin-top:2%
}
.bg {
    background: url(images/bg_slider2.jpg) no-repeat;
    background-size: cover;
    padding: 5% 0 10% !important;
}
.bg_3 {
    background: url(images/bg_03.png) no-repeat;
    background-size: cover;
    padding: 3% 0 5% !important;
}
.bg_4 {
    background: url(images/bg_04.png) no-repeat;
    background-size: cover;
    padding: 5% 0 3% !important;
}
.bg_5 {
    background: url(images/bg_05.png) no-repeat;
    background-size: cover;
    position: relative;
    padding:3% 0 5% !important;
}
.rvs {
    background: url(images/bg_slider1.jpg) no-repeat !important;
    padding: 10% 0 5% !important;
    background-size:cover !important
}
.bg_yellow {
    background: url(images/yellow_bg.jpg) no-repeat;
    background-size: cover;
    padding: 5% 0 5% !important;
}
.video_tag {
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.top_img img, .top_img1 img {
    width: 64px;
}

.top_img{
    position:relative;
    margin:20px 0
}
.top_img1 {
    position: relative;
    margin: 10px 0 20px
}
.top_img::after {
    width: 90%;
    height: 1px;
    background-color: #1ca9ec;
    position: absolute;
    top: 50%;
    left: 63px;
    content: ""
}
.lastTI::after {
    background-color: transparent !important;
}

    .cards {
        width: 19.5%;
        position: relative;
        margin-right: 0.5%;
    }

    .cards .card {
        height: 220px;
        border-radius: 0 !important
    }

.ht_auto{
    height:120px !important
}

.details {
    position: absolute;
    bottom: 10px;
    left: 15px;
    z-index: 9;
    padding: 5px;
    margin: 0 5px; 
}
.details h5{
    font-size:10px;
    font-weight:900
}

.sec_para{
    width:80%
}

.mrg_top{
    margin-top:4%
}

.journey_div{
    display:flex;
    align-items:center;
    margin-bottom:10%;
    position:relative;
}

    .journey_div::after {
        content: "";
        position: absolute;
        bottom: -62px;
        left: 20%;
        width: 1px;
        height: 62px;
        background: #ffcd00;
    }
    .no::after{
        background:transparent;
    }
    .date {
        border: 1px solid #ffcd00;
        padding: 10px;
        width: 220px;
        margin-right: 5%;
        text-align: center;
    }
.date h2{
    font-size:22px;
    color:#fff;
    font-weight:900;
    margin-bottom:0
}

.journey_div h3{
    font-size:20px;
    color:#fff;
}

.btn{
    border-radius:30px
}

.bottom_nav{
    padding:0;
    margin:0;
    display:flex;
    align-items:center;
    list-style-type:none
}

.bottom_nav li{
    border-right:1px solid #fff;
}
.bottom_nav li a{
    color:#fff;
    text-decoration:none;
    margin:0 10px
}
    .bottom_nav li:first-child a {
        margin-left: 0
    }
.sns{
    text-align:right;

}

.sns_icons a, .sns  a{
    text-decoration: none;
}
.sns_icons{
    margin-top:10px;
}
.sns_icons a img {
    width: 32px;
}


label {
    display: inline;
}

.radio-1 {
    width: 193px;
}

.button-holder {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0.5% 5%;
}
.button-holder span{
    display:flex;
    align-items:center;
    margin:0 1%;
    font-size:12px;

}
.regular-radio {
    display: none;
}

    .regular-radio + label {
        background-color: #ffffff;
        border: 2px solid #1490e7;
        border-radius: 50px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 -15px 10px -12px rgba(0, 0, 0, 0.05) inset;
        display: inline-block;
        padding: 9px;
        position: relative;
        margin-right: 5px;
    }

        .regular-radio + label:before {
            background: none repeat scroll 0 0 #FDFDFD;
            border-radius: 50px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) inset;
            content: " ";
            font-size: 36px;
            height: 8px;
            left: 5px;
            position: absolute;
            top: 5px;
            width: 8px;
        }

    .regular-radio:checked + label:after {
        background: none repeat scroll 0 0 #1490e7;
        border-radius: 50px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) inset;
        content: " ";
        font-size: 36px;
        height: 8px;
        left: 5px;
        position: absolute;
        top: 5px;
        width: 8px;
    }

    .regular-radio:checked + label {
        background-color: #fff;
        border: 2px solid #1490e7;
        color: #99a1a7;
        padding: 9px;
    }

        .regular-radio + label:active, .regular-radio:checked + label:active {
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.1) inset;
        }

.mflex{
    display:flex;
    align-items:center;

}
    .mflex h2{
        font-weight:bold;
        font-size:24px;
    }
.tble{
    margin-bottom:50px;
}
.tble th {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    padding: 10px 10px 20px;
}
.tble td {
    color: #fff;
    padding: 10px;
    vertical-align: top;
    border: 1px solid #fccf13;
}
.p_bg {
    width: 20% !important;
    margin-bottom: 20px;
}
.Mainslider {
    display: block;
}

.mb_slider {
    display: none;
}
.navbar-brand img{
    width:220px;
}
.bottom_nav li:last-child{
    border-right:0 !important;
}
@media screen and (max-width: 767px) {
    .bg {
        background: #1491e6 !important;
    }
        .main_title{
        position:absolute;
        margin:auto;
        bottom:0;
        left:0;
        right:0;
        width:100%
    }
    
    .Mainslider {
        display: none;
    }
    .mb_slider{
        display:block;
    }
    body {
        font-size: 14px;
    }
    .bg_5 {
        padding: 14% 0 5% !important;
    }
    #why {
        padding-bottom: 10% !important;
    }
    .video_tag {
        height: 690px;
    }
    .verticle_video {
        display: block !important;
    }
    .horizontal_video {
        display: none !important;
    }
    .btn_main {
        font-size: 12px;
        background: #1ca9ed;
        color:#fff
    }
    .small_fnt {
        font-size: 12px;
    }
    .tble th {
        font-size: 15px; 
    }
    .pt-5 {
        padding-top: 3rem !important;
    }
    .pt-6 {
        padding-top: 6rem !important;
    }
    .cards {
        width: 49.5%;
        margin-bottom: 20px
    }
    .title {
        font-size: 18px;
    }
    .text-dark {
        font-size:25px;
    }
    .p_bg {
        margin-bottom: 20px;
        width: 50% !important
    }
    .nav-item{
        margin-bottom:15px;
        border-right:0;
    }  
    .main_title img {
        width: 40px;
    }
    .main_title h1 {
        font-size: 22px;
        margin: 2% 0;
        color: #1ca9ed;
    }
    .bg_5{
        background-size:unset !important
    }
    .main_title {
        padding: 3% 0;
    }
    .btn_main:hover { 
        font-size: 8px !important;
    }
    .abt_div{
        margin:10px 0
    }
    .top_img img, .top_img1 img {
        width: 48px;
    }
    .sub_title {
        font-size: 14px;
    }
    .top_img { 
        margin: 20px 0 10px;
    }
        .top_img::after{
            left:45px
        }
    .bg {
        padding: 5% 0 40% !important;
    }
    .mflex h2{
        font-size:13px;
    }
    .rvs {
        padding: 20% 0 10% !important;
        background-size:cover !important
    }
        .rvs .row:first-child{
            padding-top:20px;

        }
        .date h2 {
            font-size: 16px;
        }
    .journey_div h3 {
        font-size: 14px;
        color: #fff;
    }
    .bg_4 {
        padding: 15% 0 3% !important;
    }
    .bottom_nav{
        justify-content:center
    }
    .ftitle{
        text-align:center;
    }
    .sns{
        text-align:center;
        margin-top:20px
    }
    .navbar-brand img{
        width:220px
    }
    .lastTI::after {
        background-color: #1ca9ec !important;
    }
    .small_fnt1{
        font-size:13px
    }
    .sec_para {
        width: 100%
    }
    .bg_3 {
        padding: 5% 0 35% !important;
    }
    .journey_div::after {
        bottom: -35px;
        left: 24%;
        height: 35px;
    }
    .date{
        width:180px
    }
    }