@{
    ViewBag.Title = "Home Page";
}

<main ng-controller="dashboardController">
    <section class="position-relative" id="Home">

        <img src="~/Content/images/main_slider.jpg" class="w-100 Mainslider" />
        <div class="container">
            <div class="main_title">
                <img src="~/Content/images/aipc_logo.png" />
                <h1 ng-show="language1=='En'">
                    LEAD THE CHALLANGE<BR />
                    FROM THE HEART OF<BR />
                    INDIAN POLITICS
                </h1>
                <h1 ng-show="language1=='Hi'">
                    युवा नेताओं का समर्थन<BR />
                    बेहतर कल के लिए
                </h1>
                <a href="/apply" class="btn btn_main">{{language1=='En' ? 'Apply Now':'अभी आवेदन करें'}}</a>
            </div>
        </div>

    </section>

    @*<section class="position-relative pt-5 pb-5" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <img src="~/Content/images/abt_img.jpg" class="w-100" />
                    </div>
                    <div class="col-lg-6 ms-lg-auto">
                        <div class="abt_div" ng-show="language1=='En'">
                            <h1 class="title">
                                SOME WAIT FOR CHANGE.<br />
                                OTHERS LEAD IT.WILL YOU?
                            </h1>
                            <p>
                                India's Future never bold,visionary leaders. The Manmohan Singh Fellows Program
                                isn't just an opportunity-it's your gateway to the heart of political leadership.
                            </p>
                            <p>
                                Gain unparalleled mentorship,direct access to senior leaders, real-world policy experience,and a pathway to shape the nation.
                            </p>
                        </div>

                        <div class="abt_div" ng-show="language1=='Hi'">
                            <h1 class="title">
                                कुछ लोग बदलाव का इंतजार करते हैं।<br />
                                दूसरे उसे नेतृत्व देते हैं। आप क्या करेंगे?<br />
                            </h1>
                            <p>
                                <br />
                                भारत का भविष्य कभी साहसिक, दूरदर्शी नेताओं के बिना नहीं रह सकता।
                                डॉ. मनमोहन सिंह फेलोशिप प्रोग्राम सिर्फ एक अवसर नहीं है—यह राजनीतिक नेतृत्व के केंद्र तक पहुंचने का आपका मार्ग है।
                            </p>
                            <p>
                                बेजोड़ मार्गदर्शन प्राप्त करें, वरिष्ठ नेताओं तक सीधा पहुंचें, वास्तविक नीति निर्माण का अनुभव लें, और राष्ट्र को आकार देने का अवसर पाएं।
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@

    <section class="position-relative pt-5 pb-5" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="abt_div" ng-show="language1=='En'">
                        <h1 class="title">
                            BUILD A REAL CAREER IN INCLUSIVE POLITICS
                        </h1>
                        <p>
                            The Dr. Manmohan Singh Fellows Program is a Political Leadership Incubator, that offers an exclusive, high-impact pathway into national politics. It is not an entry-level internship, but a once-in-a-lifetime opportunity to work closely with the top leadership of the Indian National Congress, a chance for a lateral transition into leadership.

                        </p>
                        <p>
                            If you have at least 10 years of professional experience and are ready to make a meaningful impact, this is your call to step into leadership.
                        </p>
                    </div>

                    <div class="abt_div" ng-show="language1=='Hi'">
                        <h1 class="title">
                            कुछ लोग बदलाव का इंतजार करते हैं।<br />
                            दूसरे उसे नेतृत्व देते हैं। आप क्या करेंगे?<br />
                        </h1>
                        <p>
                            <br />
                            भारत का भविष्य कभी साहसिक, दूरदर्शी नेताओं के बिना नहीं रह सकता।
                            डॉ. मनमोहन सिंह फेलोशिप प्रोग्राम सिर्फ एक अवसर नहीं है—यह राजनीतिक नेतृत्व के केंद्र तक पहुंचने का आपका मार्ग है।
                        </p>
                        <p>
                            बेजोड़ मार्गदर्शन प्राप्त करें, वरिष्ठ नेताओं तक सीधा पहुंचें, वास्तविक नीति निर्माण का अनुभव लें, और राष्ट्र को आकार देने का अवसर पाएं।
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg pt-5 pb-5" id="why">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mflex">
                    <img src="~/Content/images/hand_logo.png" width="96" />
                    <div class="ml-2">
                        <h1 class="title text-white">
                            {{language1=='En' ? 'THE INDIAN NATIONAL CONGRESS:':'डॉ. मनमोहन सिंह फेलोशिप प्रोग्राम क्यों चुनें?'}}
                        </h1>
                        <h2 class="text-white">A Legacy of Professional Leadership in the<br /> Constitutional Framework and People's Movements</h2>
                    </div>
                </div>
                <div class="col-lg-12 mt-4 mb-4">
                    <p class="text-white">
                        The Indian National Congress (INC) has been at the forefront of India's nation-building, led by professionals- lawyers. economists, academicians, doctors, and civil servants, who have played a crucial role in shaping the country's politics. In recent decades, leaders like Rajiv Gandhi. Dr. Manmohan Singh, and many other professionals have contributed to strengthening rights-based politics, driving transformation and leading people's movements. Their leadership has advanced social justice, economic reforms, and inclusive governance.
                    </p> <p class="text-white">
                        Many of India's constitutional architects, including Jawaharlal Nehru, Sardar Patel, Maulana Abul Kalam Azad, Dr. B.R. Ambedkar, and Durgabai Deshmukh, were professionals who played a pivotal role in drafting and upholding The Indian Constitution. The Dr. Manmohan Singh Fellows program carries forward that legacy, creating a new generation of professional leaders committed to strengthening democracy and people's movements.
                    </p>
                </div>
            </div>

        </div>
    </section>

    <section class="pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="title">
                        {{language1=='En' ? 'WHY CHOOSE DR. MANMOHAN SINGH FELLOWS PROGRAM?':'डॉ. मनमोहन सिंह फेलोशिप प्रोग्राम क्यों चुनें?'}}
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="top_img">
                        <img src="~/Content/images/visionaries_icon.png" />
                    </div>
                    <h4 class="sub_title">
                        {{language1=='En' ? 'LEARN FROM VISIONARIES':'दूरदर्शी नेताओं से सीखें'}}
                    </h4>
                    <p>
                        {{language1=='En' ? 'Work closely with India’s top leaders and thinkers shaping the nation’s future.':'भारत के शीर्ष नेताओं और विचारकों के साथ मिलकर काम करें, जो राष्ट्र के भविष्य को आकार दे रहे हैं।'}}

                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="top_img">
                        <img src="~/Content/images/world_Impact_icon.png" />
                    </div>
                    <h4 class="sub_title">
                        {{language1=='En' ? 'DRIVE REAL-WORLD IMPACT':'वास्तविक दुनिया में प्रभाव पैदा करें।'}}
                    </h4>
                    <p>
                        {{language1=='En' ? 'Contribute to transformative projects addressing national and local challenges.':'राष्ट्रीय और स्थानीय चुनौतियों का समाधान करने वाले परिवर्तनकारी परियोजनाओं में योगदान दें।'}}

                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="top_img lastTI">
                        <img src="~/Content/images/national_network_icon.png" />
                    </div>
                    <h4 class="sub_title">
                        {{language1=='En' ? 'JOIN A NATIONAL NETWORK':'एक राष्ट्रीय नेटवर्क से जुड़ें।'}}
                    </h4>
                    <p>
                        {{language1=='En' ? 'Collaborate with progressive peers committed to advancing India’s growth story.':'प्रगतिशील साथियों के साथ सहयोग करें जो भारत की विकास गाथा को आगे बढ़ाने के लिए प्रतिबद्ध हैं।'}}

                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="bg_5  position-relative">
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-12">
                    <p class="sec_para" ng-show="language1=='En'">
                        We will select just 50 exceptional individuals each year -<br />representing every State and Union Territory across India.
                    </p>
                    <p class="small_fnt1 sec_para" ng-show="language1=='Hi'">
                        हमारे प्रतिष्ठित फेलोशिप प्रोग्राम से जुड़ें, जहां हम हर साल 50 उत्कृष्ट व्यक्तियों का चयन करते हैं,
                        जो भारत के हर राज्य और केंद्र शासित प्रदेश का प्रतिनिधित्व करने का प्रयास करते हैं। इस अवसर का लाभ उठाएं,
                        राष्ट्रव्यापी प्रभाव डालें और अपने समुदाय में एक नेता बनें। अपने क्षेत्र से परिवर्तनकारी नेता बनने के लिए अभी आवेदन करें!
                    </p>
                </div>
            </div>
            <div class="row mt-5 pt-5">
                <div class="col-lg-12">
                    <h1 class="title">
                        {{language1=='En' ? 'WHO WE’RE LOOKING FOR':'हम किनकी तलाश कर रहे हैं?'}}

                    </h1>
                    <p class="small_fnt">
                        {{language1=='En' ? 'Preference for those coming from rural/modest background.':'ग्रामीण या साधारण पृष्ठभूमि से आने वाले उम्मीदवारों को प्राथमिकता दी जाएगी।'}}

                    </p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="cards">
                    <div class="card">
                        <div class="card-body pb-0">
                            <div class="top_img1">
                                <img src="~/Content/images/indian_citizen_icon.png" />
                            </div>
                            <p class="small_fnt1">
                                {{language1=='En' ? 'Indian citizen':'भारतीय नागरिक, 30 वर्ष या उससे कम आयु।'}}
                            </p>
                        </div>
                    </div>

                </div>
                <div class="cards">
                    <div class="card">
                        <div class="card-body pb-0">
                            <div class="top_img1">
                                <img src="~/Content/images/bachelors_icon.png" />
                            </div>
                            <p class="small_fnt1">
                                {{language1=='En' ? 'A professional with at least 10 years of work experience':'किसी भी विषय में स्नातक की डिग्री धारक हो।'}}
                            </p>
                        </div>
                    </div>

                </div>
                <div class="cards">
                    <div class="card">
                        <div class="card-body pb-0">
                            <div class="top_img1">
                                <img src="~/Content/images/leadership_icon.png" />
                            </div>
                            <p class="small_fnt1">
                                {{language1=='En' ? 'Demonstrates a passion for public service, leadership, or societal change':'सार्वजनिक सेवा, नेतृत्व या सामाजिक परिवर्तन के प्रति जुनून प्रदर्शित करता हो'}}
                            </p>
                        </div>
                    </div>

                </div>
                <div class="cards">
                    <div class="card">
                        <div class="card-body pb-0">
                            <div class="top_img1">
                                <img src="~/Content/images/solutions_driven_icon.png" />
                            </div>
                            <p class="small_fnt1">
                                {{language1=='En' ? 'Embodies progressive, inclusive thinking and a solutions-driven mindset':'प्रगतिशील, समावेशी सोच और समाधान-केंद्रित दृष्टिकोण को अपनाने वाला।'}}
                            </p>
                        </div>
                    </div>

                </div>
                <div class="cards">
                    <div class="card">
                        <div class="card-body pb-0">
                            <div class="top_img1">
                                <img src="~/Content/images/work_experience_icon.png" />
                            </div>
                            <p class="small_fnt1">
                                {{language1=='En' ? 'Should be financially independent and able to dedicate the required time to the program':'कार्य अनुभव एक अतिरिक्त योग्यता है, लेकिन अनिवार्य नहीं है।'}}
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-12">
                    <h1 class="title">
                        {{language1=='En' ? 'What you will gain':'आपको क्या प्राप्त होगा'}}

                    </h1>

                </div>
            </div>
            <div class="row mt-3">
                <div class="cards">
                    <div class="card ht_auto">
                        <div class="card-body">
                            <p class="small_fnt1">
                                {{language1=='En' ? 'Indian citizen, 30 years or younger':'भारतीय नागरिक, 30 वर्ष या उससे कम आयु।'}}
                            </p>
                        </div>
                    </div>

                </div>
                <div class="cards">
                    <div class="card ht_auto">
                        <div class="card-body">
                            <p class="small_fnt1">
                                {{language1=='En' ? 'Access to senior I NC politicians':'वरिष्ठ INC राजनेताओं तक पहुंच'}}
                            </p>
                        </div>
                    </div>

                </div>
                <div class="cards">
                    <div class="card ht_auto">
                        <div class="card-body">
                            <p class="small_fnt1">
                                {{language1=='En' ? 'Opportunities to work on real political projects ':'वास्तविक राजनीतिक परियोजनाओं पर काम करने के अवसर'}}
                            </p>
                        </div>
                    </div>

                </div>
                <div class="cards">
                    <div class="card ht_auto">
                        <div class="card-body">
                            <p class="small_fnt1">
                                {{language1=='En' ? 'Learning from experienced policymakers ':'अनुभवी नीति निर्माताओं से सीखने का मौका'}}
                            </p>
                        </div>
                    </div>

                </div>
                <div class="cards">
                    <div class="card ht_auto">
                        <div class="card-body">
                            <p class="small_fnt1">
                                {{language1=='En' ? 'Career pathway in politics ':'राजनीति में करियर बनाने का मार्ग'}}
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="bg rvs pt-5 pb-5" id="process">
        <div class="container">
            <div class="row mt-4">
                <div class="col-lg-12">
                    <p class="text-white">
                        Dr. Manmohan Singh Fellows Program:<br />
                        A Real Path to Leadership. Not Just Another Fellowship
                    </p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="tble">
                            <thead>
                                <tr>
                                    <th>WHAT THE PROGRAM IS</th>
                                    <th>WHAT THE PROGRAM IS NOT</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>A Political Leadership Incubator, for mid-career or senior professionals, with at least 10 yrs of experience</td>
                                    <td>An entry-level internship</td>
                                </tr>
                                <tr>
                                    <td>A high-impact pathway into national politics with no fixed time duration</td>
                                    <td>A short-term, rigid, time-bound program</td>
                                </tr>
                                <tr>
                                    <td>A once-in-a-lifetime chance to work closely with top leadership of the Indian National Congress, focused on mentorship, access, opportunities, and growth, working on real-world engagements.</td>
                                    <td>A traditional fellowship that offers passive learning experience through lectures, reading materials or limited interactions with senior leaders through occasional talks or panel discussions.</td>
                                </tr>
                                <tr>
                                    <td>No stipend, no fixed tenure but a real chance to transition from being a professional to a career politician</td>
                                    <td>A general exposure program without a clear leadership pathway, incentivised with remuneration or false promises of a role.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>

            </div>
        </div>
    </section>
    <section class="pt-5 pb-5" id="process">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="title">
                        {{language1=='En' ? 'APPLICATION AND SELECTION PROCESS':'आवेदन और चयन प्रक्रिया'}}

                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="top_img">
                        <img src="~/Content/images/1.png" />
                    </div>
                    <h4 class="sub_title">
                        {{language1=='En' ? 'SUBMIT YOUR APPLICATION':'अपना आवेदन जमा करें'}}
                    </h4>
                    <p>
                        {{language1=='En' ? ' Provide basic details + Aadhaar upload':'मूलभूत विवरण प्रदान करें + आधार अपलोड करें'}}

                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="top_img">
                        <img src="~/Content/images/2.png" />
                    </div>
                    <h4 class="sub_title">
                        {{language1=='En' ? 'SHARE YOUR VISION':'अपनी दृष्टि साझा करें'}}
                    </h4>
                    <p>
                        {{language1=='En' ? 'Record a 3 minutes video introducing yourself and your vision for India’s future':'अपना परिचय और भारत के भविष्य के लिए अपनी दृष्टि प्रस्तुत करते हुए 3 मिनट का वीडियो रिकॉर्ड करें।'}}

                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="top_img lastTI">
                        <img src="~/Content/images/3.png" />
                    </div>
                    <h4 class="sub_title">
                        {{language1=='En' ? 'PERSONAL INTERVIEW':'व्यक्तिगत साक्षात्कार'}}
                    </h4>
                    <p>
                        {{language1=='En' ? 'Engage with the selection committee to present your ideas and aspirations':'चयन समिति के साथ बातचीत करें और अपने विचार व आकांक्षाएँ प्रस्तुत करें।'}}
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="pb-5 pt-5" style="display:none">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h1 class="title">
                        {{language1=='En' ? 'LEADERS BEHIND THE FELLOWSHIP':'फेलोशिप के पीछे के नेता'}}

                    </h1>
                    <p>
                        {{language1=='En' ? 'Our eminent committee ensures a fair, transparent process to identify passionate young leaders.':'हमारी प्रतिष्ठित समिति एक निष्पक्ष और पारदर्शी प्रक्रिया सुनिश्चित करती है ताकि जुनूनी युवा नेताओं की पहचान की जा सके।'}}

                    </p>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-4 position-relative p_bg">
                            <img src="~/Content/images/priyanka.jpg" class="w-100" />
                            <div class="details">
                                <h5 class="text-white mb-0">
                                    {{language1=='En' ? 'SMT. PRIYANKA GANDHI':'श्रीमती प्रियंका गांधी'}}
                                </h5>
                                <p class="small_fnt text-white mb-0">
                                    {{language1=='En' ? 'General Secretary of Congress':'कांग्रेस की महासचिव'}}

                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 position-relative p_bg">
                            <img src="~/Content/images/shiri_ajay.jpg" class="w-100" />
                            <div class="details">
                                <h5 class="text-white mb-0">
                                    {{language1=='En' ? 'SHRI AJAY MAKEN':'श्री अजय माकन'}}
                                </h5>
                                <p class="small_fnt text-white mb-0">
                                    {{language1=='En' ? 'Treasurer of Congress':'कांग्रेस के कोषाध्यक्ष'}}
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 position-relative p_bg">
                            <img src="~/Content/images/praveen.jpg" class="w-100" />
                            <div class="details">
                                <h5 class="text-white mb-0">{{language1=='En' ? 'SHRI PRAVEEN CHAKRAVARTY':'श्री प्रवीन चक्रवर्ती'}}</h5>
                                <p class="small_fnt text-white mb-0">{{language1=='En' ? 'Chairman of AIPC':'एआईपीसी के अध्यक्ष'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="bg_3" id="Timeline">
        <div class="container">

            <div class="row mrg_top">
                <div class="col-lg-12">
                    <h1 class="title text-white mt-4">
                        {{language1=='En' ? 'YOUR JOURNEY STARTS HERE':'आपकी यात्रा यहीं से शुरू होती है'}}
                    </h1>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-6">
                    <div class="journey_div">
                        <div class="date">
                            <h2>7th March, 2025</h2>
                        </div>
                        <h3> {{language1=='En' ? 'Applications Open':'आवेदन खुले हैं'}}</h3>
                    </div>
                    <div class="journey_div">
                        <div class="date">
                            <h2>30th April, 2025</h2>
                        </div>
                        <h3> {{language1=='En' ? 'Applications Close':'आवेदन बंद'}}</h3>
                    </div>
                    <div class="journey_div no">
                        <div class="date">
                            <h2>31st May, 2025</h2>
                        </div>
                        <h3> {{language1=='En' ? 'Selection Announcements':'चयन घोषणाएँ'}}</h3>
                    </div>

                </div>
            </div>
        </div>
    </section>

    @*<section class="position-relative pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <img src="~/Content/images/youth_image_02.jpg" class="w-100" />
                    </div>
                    <div class="col-lg-6 ms-lg-auto">
                        <div class="abt_div">
                            <h1 class="title" ng-show="language1=='En'">
                                YOUR OPPORTUNITY<br />
                                TO LEAD THE CHANGE<br />
                                STARTS HERE
                            </h1>
                            <h1 class="title" ng-show="language1=='Hi'">
                                आपके बदलाव <br />का नेतृत्व करने का अवसर <br />यहीं से शुरू होता है
                            </h1>
                            <p ng-show="language1=='En'">
                                Applications close on 15th April, 2025.
                                Take the first step toward becoming
                                a transformative leader.
                            </p>
                            <p ng-show="language1=='Hi'">
                                आवेदन 15 अप्रैल, 2025 को बंद हो जाएंगे।
                                परिवर्तनकारी नेता बनने की दिशा में पहला कदम उठाएँ।
                            </p>
                            <a href="/apply" class="btn btn-warning mt-1 small_fnt">{{language1=='En' ? 'Apply Now':'अभी आवेदन करें'}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@

    <section class="position-relative pt-5 pb-3">
        <div class="container">
            <div class="row"> 
                <div class="col-lg-10">
                    <div class="abt_div">
                        <h1 class="title" ng-show="language1=='En'">
                            LET'S BUILD THE NEXT GENERATION OF <br />LEADERS-ARE YOU READY?
                        </h1>
                        <h1 class="title" ng-show="language1=='Hi'">
                            आपके बदलाव <br />का नेतृत्व करने का अवसर <br />यहीं से शुरू होता है
                        </h1>
                       
                       
                    </div>
                </div>
                <div class="col-lg-2">
                    <a href="/apply" class="btn btn-warning mt-1 small_fnt">{{language1=='En' ? 'Apply Now':'अभी आवेदन करें'}}</a>
                </div>
            </div>
        </div>
    </section>

</main>