@{
    ViewBag.Title = "Home Page";
}

<main ng-controller="dashboardController">
    <section class="position-relative" id="Home">

        <img src="~/Content/images/main_slider.jpg" class="w-100 Mainslider" />
        <img src="~/Content/images/mobile_slider.jpg" class="mb_slider w-100" />
        <div class="container">
            <div class="main_title">
                <img src="~/Content/images/aipc_logo.png" />
                <h1 ng-show="language1=='En'">
                    LEAD THE CHANGE<BR />
                    FROM THE HEART OF<BR />
                    INDIAN POLITICS
                </h1>
                <h1 ng-show="language1=='Hi'">
                    युवा नेताओं का समर्थन<BR />
                    बेहतर कल के लिए
                </h1>
                <a href="/apply" class="btn btn_main">{{language1=='En' ? 'Apply Now':'अभी आवेदन करें'}}</a>
            </div>
        </div>

    </section>

    @*<section class="position-relative pt-5 pb-5" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <img src="~/Content/images/abt_img.jpg" class="w-100" />
                    </div>
                    <div class="col-lg-6 ms-lg-auto">
                        <div class="abt_div" ng-show="language1=='En'">
                            <h1 class="title">
                                SOME WAIT FOR CHANGE.<br />
                                OTHERS LEAD IT.WILL YOU?
                            </h1>
                            <p>
                                India's Future never bold,visionary leaders. The Manmohan Singh Fellows Program
                                isn't just an opportunity-it's your gateway to the heart of political leadership.
                            </p>
                            <p>
                                Gain unparalleled mentorship,direct access to senior leaders, real-world policy experience,and a pathway to shape the nation.
                            </p>
                        </div>

                        <div class="abt_div" ng-show="language1=='Hi'">
                            <h1 class="title">
                                कुछ लोग बदलाव का इंतजार करते हैं।<br />
                                दूसरे उसे नेतृत्व देते हैं। आप क्या करेंगे?<br />
                            </h1>
                            <p>
                                <br />
                                भारत का भविष्य कभी साहसिक, दूरदर्शी नेताओं के बिना नहीं रह सकता।
                                डॉ. मनमोहन सिंह फेलोशिप प्रोग्राम सिर्फ एक अवसर नहीं है—यह राजनीतिक नेतृत्व के केंद्र तक पहुंचने का आपका मार्ग है।
                            </p>
                            <p>
                                बेजोड़ मार्गदर्शन प्राप्त करें, वरिष्ठ नेताओं तक सीधा पहुंचें, वास्तविक नीति निर्माण का अनुभव लें, और राष्ट्र को आकार देने का अवसर पाएं।
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@

    <section class="position-relative pt-5 pb-5" id="about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 horizontal_video">
                    <video controls class="video_tag">
                        <source src="~/Content/images/VIdeo.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>

                </div>
                <div class="col-lg-6 verticle_video" style="display:none">
                    <video controls class="video_tag" poster="~/Content/images/poster_verticle.png">
                        <source src="~/Content/images/DRMMSVIDEO.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>

                </div>
                <div class="col-lg-6">
                    <div class="abt_div" ng-show="language1=='En'">
                        <h1 class="title">
                            BUILD A REAL CAREER IN INCLUSIVE POLITICS
                        </h1>
                        <p>
                            The Dr. Manmohan Singh Fellows Program is a Political Leadership Incubator, that offers an exclusive, high-impact pathway into national politics. This is not an entry-level internship, but a once-in-a-lifetime opportunity to work closely with the top leadership of the Indian National Congress, a chance for a lateral transition into leadership.
                        </p>
                        <p>
                            If you have at least 10 years of professional experience and are ready to make a meaningful impact, this is your call to step into leadership.
                        </p>
                    </div>

                    <div class="abt_div" ng-show="language1=='Hi'">
                        <h1 class="title">
                            समावेशी राजनीति में एक वास्तविक करियर बनाएं<br /> 
                        </h1>
                        <p>
                            <br />
                            डॉ. मनमोहन सिंह फेलोज़ प्रोग्राम एक राजनीतिक नेतृत्व इनक्यूबेटर है, जो राष्ट्रीय राजनीति में प्रवेश के लिए एक विशेष, प्रभावशाली मार्ग प्रदान करता है। यह कोई प्रारंभिक स्तर की इंटर्नशिप नहीं है,
                            बल्कि भारतीय राष्ट्रीय कांग्रेस के शीर्ष नेतृत्व के साथ निकटता से काम करने का एक दुर्लभ अवसर है—एक ऐसा अवसर जो नेतृत्व में सीधी भागीदारी का मार्ग प्रशस्त करता है।
                        </p>
                        <p>
                            यदि आपके पास कम से कम 10 वर्षों का पेशेवर अनुभव है और आप एक सार्थक प्रभाव डालने के लिए तैयार हैं, तो यह नेतृत्व में कदम रखने का आपका आह्वान है।
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg pt-5 pb-5" id="why">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12 mflex">
                            <img src="~/Content/images/hand_logo.png" width="96" />
                            <div class="ml-2">
                                <h1 class="title text-white">
                                    {{language1=='En' ? 'THE INDIAN NATIONAL CONGRESS:':'भारतीय राष्ट्रीय कांग्रेस:'}}
                                </h1>
                                <h2 class="text-white">
                                    {{language1=='En' ? "A Legacy of Professional Leadership - Upholding the Constitution,  Drawn from People's Movements.:":'व्यावसायिक नेतृत्व की विरासत – संविधान की रक्षा, जन आंदोलनों से प्रेरित'}}

                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-12 mt-4" ng-show="language1=='En'">
                            <p class="text-white">
                                The Indian National Congress (INC) has been at the forefront of India's nation-building. It has been led by professionals - lawyers, economists, academics, doctors, and civil servants who have played a crucial role in shaping the country's politics. The leaders who led us in the freedom struggle and the drafting of our Constitution, like Mahatma Gandhi, Motilal Nehru, Sardar Patel, Dr. B. R. Ambedkar, TT Krishnamachari, Sarojini Naidu, etc., were all professionals.
                            </p> <p class="text-white">
                                In recent decades, leaders like Dr. Manmohan Singh, and many other professionals have contributed to strengthening rights-based politics, driving transformation and leading people's movements. <br /><br /> The Dr. Manmohan Singh Fellows program carries forward that legacy, creating a new generation of professional leaders committed to strengthening democracy and people's movements.
                            </p>
                        </div>
                        <div class="col-lg-12 mt-4" ng-show="language1=='Hi'">
                            <p class="text-white">
                                भारतीय राष्ट्रीय कांग्रेस (INC) भारत के राष्ट्र-निर्माण के अग्रणी मोर्चे पर रही है। यह सदैव पेशेवरों द्वारा नेतृत्व की गई है—वकील, अर्थशास्त्री, शिक्षाविद, डॉक्टर और सिविल सेवक, जिन्होंने देश की राजनीति को आकार देने में महत्वपूर्ण भूमिका निभाई है।
                            </p> <p class="text-white">
                                वे नेता, जिन्होंने हमें स्वतंत्रता संग्राम में नेतृत्व प्रदान किया और हमारे संविधान का निर्माण किया, जैसे महात्मा गांधी, मोतीलाल नेहरू, सरदार पटेल, डॉ. बी. आर. अंबेडकर, टी. टी. कृष्णमाचारी, सरोजिनी नायडू आदि, सभी पेशेवर पृष्ठभूमि से थे।<br /><br />हाल के दशकों में, डॉ. मनमोहन सिंह और कई अन्य पेशेवर नेताओं (पेशेवरों) ने अधिकार-आधारित राजनीति को सशक्त बनाने, परिवर्तन को गति देने और जन आंदोलनों का नेतृत्व करने में महत्वपूर्ण योगदान दिया है। <br /> <br />
                                डॉ. मनमोहन सिंह फेलोज़ प्रोग्राम इस विरासत को आगे बढ़ाते हुए, लोकतंत्र और जन आंदोलनों को सशक्त बनाने के लिए प्रतिबद्ध नई पीढ़ी के पेशेवर नेताओं को तैयार करता है।
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <img src="~/Content/images/freedom_fighters.png" class="w-100" />
                </div>
            </div>
        </div>
    </section>

    <section class="pb-5" style="display:none">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="title">
                        {{language1=='En' ? 'WHY CHOOSE DR. MANMOHAN SINGH FELLOWS PROGRAM?':'डॉ. मनमोहन सिंह फेलोशिप प्रोग्राम क्यों चुनें?'}}
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="top_img">
                        <img src="~/Content/images/visionaries_icon.png" />
                    </div>
                    <h4 class="sub_title">
                        {{language1=='En' ? 'LEARN FROM VISIONARIES':'दूरदर्शी नेताओं से सीखें'}}
                    </h4>
                    <p>
                        {{language1=='En' ? 'Work closely with India’s top leaders and thinkers shaping the nation’s future.':'भारत के शीर्ष नेताओं और विचारकों के साथ मिलकर काम करें, जो राष्ट्र के भविष्य को आकार दे रहे हैं।'}}

                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="top_img">
                        <img src="~/Content/images/world_Impact_icon.png" />
                    </div>
                    <h4 class="sub_title">
                        {{language1=='En' ? 'DRIVE REAL-WORLD IMPACT':'वास्तविक दुनिया में प्रभाव पैदा करें।'}}
                    </h4>
                    <p>
                        {{language1=='En' ? 'Contribute to transformative projects addressing national and local challenges.':'राष्ट्रीय और स्थानीय चुनौतियों का समाधान करने वाले परिवर्तनकारी परियोजनाओं में योगदान दें।'}}

                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="top_img lastTI">
                        <img src="~/Content/images/national_network_icon.png" />
                    </div>
                    <h4 class="sub_title">
                        {{language1=='En' ? 'JOIN A NATIONAL NETWORK':'एक राष्ट्रीय नेटवर्क से जुड़ें।'}}
                    </h4>
                    <p>
                        {{language1=='En' ? 'Collaborate with progressive peers committed to advancing India’s growth story.':'प्रगतिशील साथियों के साथ सहयोग करें जो भारत की विकास गाथा को आगे बढ़ाने के लिए प्रतिबद्ध हैं।'}}

                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="bg_5  position-relative">
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-12">
                    <h1 class="title text-dark">
                        {{language1=='En' ? ' 50 EXCEPTIONAL PROFESSIONALS CHOSEN EVERY YEAR':'हर साल 50 उत्कृष्ट पेशेवर चुने जाएँगे'}}


                    </h1>
                    <p class="sec_para" ng-show="language1=='En'">
                        @*Representing every State and Union Territory across India.*@ 
                    </p>
                     
                    <p class="sec_para" ng-show="language1=='Hi'"> 
                        @*भारत के प्रत्येक राज्य और केंद्रशासित प्रदेश से प्रतिनिधित्व*@
                    </p>

                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-12 mt-5">
                    <h1 class="title " ng-show="language1=='En'">
                        You Must

                    </h1>
                    <h1 class="title" ng-show="language1=='Hi'" style="margin-top:4rem!important">
                        योग्यता

                    </h1>
                    @*<p class="small_fnt">
            {{language1=='En' ? 'Preference for those coming from rural/modest background.':'ग्रामीण या साधारण पृष्ठभूमि से आने वाले उम्मीदवारों को प्राथमिकता दी जाएगी।'}}

        </p>*@
                </div>
            </div>
            <div class="row mt-4">
                <div class="cards">
                    <div class="card">
                        <div class="card-body pb-0">
                            <div class="top_img1">
                                <img src="~/Content/images/indian_citizen_icon.png" />
                            </div>
                            <p class="small_fnt1">
                                {{language1=='En' ? 'Be an Indian citizen':'आप भारत के नागरिक होने चाहिए'}}
                            </p>
                        </div>
                    </div>

                </div>
                <div class="cards">
                    <div class="card">
                        <div class="card-body pb-0">
                            <div class="top_img1">
                                <img src="~/Content/images/bachelors_icon.png" />
                            </div>
                            <p class="small_fnt1">
                                {{language1=='En' ? 'Be a professional with at least 10 years of work experience':'आप कम से कम 10 वर्षों का कार्य अनुभव रखने वाले पेशेवर होने चाहिए'}}
                            </p>
                        </div>
                    </div>

                </div>
                <div class="cards">
                    <div class="card">
                        <div class="card-body pb-0">
                            <div class="top_img1">
                                <img src="~/Content/images/leadership_icon.png" />
                            </div>
                            <p class="small_fnt1">
                                {{language1=='En' ? 'Demonstrate a passion for public service, leadership, or societal change':'आपको सार्वजनिक सेवा, नेतृत्व, या सामाजिक परिवर्तन के प्रति गहरी रुचि और समर्पण होनी चाहिए'}}
                            </p>
                        </div>
                    </div>

                </div>
                <div class="cards">
                    <div class="card">
                        <div class="card-body pb-0">
                            <div class="top_img1">
                                <img src="~/Content/images/solutions_driven_icon.png" />
                            </div>
                            <p class="small_fnt1">
                                {{language1=='En' ? 'Embody progressive, inclusive thinking and a solutions-driven mindset':'आपके पास प्रगतिशील और समावेशी सोच के साथ समस्याओं के समाधान निकालने की क्षमता होनी चाहिए'}}
                            </p>
                        </div>
                    </div>

                </div>
                <div class="cards">
                    <div class="card">
                        <div class="card-body pb-0">
                            <div class="top_img1">
                                <img src="~/Content/images/work_experience_icon.png" />
                            </div>
                            <p class="small_fnt1">
                                {{language1=='En' ? 'Be financially independent and able to dedicate the required time to the program':'आप आर्थिक रूप से आत्मनिर्भर हों और कार्यक्रम के लिए आवश्यक समय देने में सक्षम हों'}}
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-12">
                    <h1 class="title">
                        {{language1=='En' ? 'You will gain':'इससे आपको निम्लिखित लाभ मिलेंगे:'}}

                    </h1>

                </div>
            </div>
            <div class="row mt-3">
                <div class="cards">
                        <div class="card ht_auto">
                            <div class="card-body">
                                <p class="small_fnt1" ng-show="language1=='En'">
                                    <b>Mentorship</b> with Indian National Congress Leaders
                                </p>
                                <p class="small_fnt1" ng-show="language1=='Hi'">
                                    भारतीय राष्ट्रीय कांग्रेस के वरिष्ठ नेताओं से मार्गदर्शन और मेंटरशिप
                                </p>
                            </div>
                        </div>

                    </div>
                <div class="cards">
                    <div class="card ht_auto">
                        <div class="card-body">
                            <p class="small_fnt1" ng-show="language1=='En'">
                                <b>Opportunities</b> to work on real political projects
                            </p>
                            <p class="small_fnt1" ng-show="language1=='Hi'">
                                वास्तविक राजनीतिक परियोजनाओं पर काम करने के अवसर
                            </p>
                        </div>
                    </div>

                </div>
                <div class="cards">
                    <div class="card ht_auto">
                        <div class="card-body">
                            <p class="small_fnt1" ng-show="language1=='En'">
                                <b>Learning</b> from experienced policymakers
                            </p>
                            <p class="small_fnt1" ng-show="language1=='Hi'">
                                अनुभवी नीति निर्माताओं से सीखने और रणनीतियों को समझने का मौका
                            </p>
                        </div>
                    </div>

                </div>
                @*<div class="cards">
                    <div class="card ht_auto">
                        <div class="card-body">
                            <p class="small_fnt1">
                                {{language1=='En' ? 'A career pathway in poitics ':'अनुभवी नीति निर्माताओं से सीखने का मौका'}}
                            </p>
                        </div>
                    </div>

                </div>*@
                <div class="cards">
                    <div class="card ht_auto">
                        <div class="card-body">
                            <p class="small_fnt1" ng-show="language1=='En'">
                                <b>Career</b> pathway in politics
                            </p>
                            <p class="small_fnt1" ng-show="language1=='Hi'">
                                राजनीति में करियर बनाने का एक स्पष्ट और व्यावहारिक मार्ग
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="pb-5 pt-5 bg_yellow" style="display:block">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="title text-dark mb-5">
                        {{language1=='En' ? 'Some examples of Program mentors :':'कार्यक्रम मेंटर:'}}

                    </h1>
                    @*<p>
                        {{language1=='En' ? 'Our eminent committee ensures a fair, transparent process to identify passionate young leaders.':'हमारी प्रतिष्ठित समिति एक निष्पक्ष और पारदर्शी प्रक्रिया सुनिश्चित करती है ताकि जुनूनी युवा नेताओं की पहचान की जा सके।'}}

                    </p>*@
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-2 position-relative p_bg">
                            <img src="~/Content/images/rahul.jpg" class="w-100" />
                            <div class="details">
                                <h5 class="text-white mb-0">
                                    {{language1=='En' ? 'MR. RAHUL GANDHI':'श्री राहुल गांधी'}}
                                </h5>
                                @*<p class="small_fnt text-white mb-0">
                    {{language1=='En' ? 'General Secretary of Congress':'कांग्रेस की महासचिव'}}

                </p>*@
                            </div>
                        </div>
                        <div class="col-lg-2 position-relative p_bg">
                            <img src="~/Content/images/praveen.jpg" class="w-100" />
                            <div class="details">
                                <h5 class="text-white mb-0">{{language1=='En' ? 'MR. PRAVEEN CHAKRAVARTY':'श्री प्रवीन चक्रवर्ती'}}</h5>
                                @*<p class="small_fnt text-white mb-0">{{language1=='En' ? 'Chairman of AIPC':'एआईपीसी के अध्यक्ष'}}</p>*@
                            </div>
                        </div>
                        <div class="col-lg-2 position-relative p_bg">
                            <img src="~/Content/images/shiri_ajay.jpg" class="w-100" />
                            <div class="details">
                                <h5 class="text-white mb-0">
                                    {{language1=='En' ? 'MR. AJAY MAKEN':'श्री अजय माकन'}}
                                </h5>
                                @*<p class="small_fnt text-white mb-0">
                    {{language1=='En' ? 'Treasurer of Congress':'कांग्रेस के कोषाध्यक्ष'}}
                </p>*@
                            </div>
                        </div>
                        <div class="col-lg-2 position-relative p_bg">
                            <img src="~/Content/images/K_RAJU_JI.png" class="w-100" />
                            <div class="details">
                                <h5 class="text-white mb-0">
                                    {{language1=='En' ? 'MR. KOPPULA RAJU':'श्री कोप्पुला राजू'}}
                                </h5>
                                @*<p class="small_fnt text-white mb-0">
                    {{language1=='En' ? 'Treasurer of Congress':'कांग्रेस के कोषाध्यक्ष'}}
                </p>*@
                            </div>
                        </div>

                        <div class="col-lg-2 position-relative p_bg">
                            <img src="~/Content/images/shashi_tharoor.jpg" class="w-100" />
                            <div class="details">
                                <h5 class="text-white mb-0">{{language1=='En' ? 'MR. SHASHI THAROOR':'श्री शशि थरूर'}}</h5>
                                @*<p class="small_fnt text-white mb-0">{{language1=='En' ? 'Chairman of AIPC':'एआईपीसी के अध्यक्ष'}}</p>*@
                            </div>
                        </div>
                        <div class="col-lg-2 position-relative p_bg">
                            <img src="~/Content/images/meenakshi.jpg" class="w-100" />
                            <div class="details">
                                <h5 class="text-white mb-0">{{language1=='En' ? 'MS. MEENAKSHI NATARAJAN':'(सुश्री) मीनाक्षी नटराजन'}}</h5>
                            </div>
                        </div>
                        <div class="col-lg-2 position-relative p_bg">
                            <img src="~/Content/images/Girish.jpg" class="w-100" />
                            <div class="details">
                                <h5 class="text-white mb-0">{{language1=='En' ? 'MR. Girish Chodankar':'श्री गिरीश चोडानकर'}}</h5>
                            </div>
                        </div>
                        <div class="col-lg-2 position-relative p_bg">
                            <img src="~/Content/images/pawan.jpg" class="w-100" />
                            <div class="details">
                                <h5 class="text-white mb-0">{{language1=='En' ? 'MR. PAWAN KHERA':'श्री पवन खेड़ा'}}</h5>
                            </div>
                        </div>
                        <div class="col-lg-2 position-relative p_bg">
                            <img src="~/Content/images/Sachin_Rao.jpg" class="w-100" />
                            <div class="details">
                                <h5 class="text-white mb-0">{{language1=='En' ? 'MR. SACHIN RAO':'श्री सचिन राव'}}</h5>
                            </div>
                        </div>
                        <div class="col-lg-2 position-relative p_bg">
                            <img src="~/Content/images/alka.jpg" class="w-100" />
                            <div class="details">
                                <h5 class="text-white mb-0">{{language1=='En' ? 'MS. ALKA LAMBA':'सुश्री अलका लाम्बा'}}</h5>
                            </div>
                        </div>
                        <div class="col-lg-2 position-relative p_bg">
                            <img src="~/Content/images/supriya.jpg" class="w-100" />
                            <div class="details">
                                <h5 class="text-white mb-0">{{language1=='En' ? 'MS. SUPRIYA SHIRNATE':'सुश्री सुप्रिया श्रीनाते'}}</h5>
                            </div>
                        </div>


                        <div class="col-lg-2 position-relative p_bg">
                            <img src="~/Content/images/ajoy.jpg" class="w-100" />
                            <div class="details">
                                <h5 class="text-white mb-0">{{language1=='En' ? 'DR. AJOY KUMAR':'डॉ अजय कुमार'}}</h5>
                            </div>
                        </div>
                        <div class="col-lg-2 position-relative p_bg">
                            <img src="~/Content/images/KRISHNA_ALLAVARU.png" class="w-100" />
                            <div class="details">
                                <h5 class="text-white mb-0">{{language1=='En' ? 'MR. KRISHNA ALLAVARU':'श्री कृष्ण अल्लावरु'}}</h5>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg rvs pt-5 pb-5" id="process_2">
        <div class="container">
            <div class="row mt-4">
                <div class="col-lg-12">
                    <h1 class="title ,b-5 text-white">

                        {{language1=='En' ? 'Dr. Manmohan Singh Fellows Program':'डॉ. मनमोहन सिंह फेलोज़ प्रोग्राम'}}

                    </h1>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="tble">
                            <thead>
                                <tr>
                                    <th>
                                        {{language1=='En' ? 'WHAT THE PROGRAM IS':'कार्यक्रम की मुख्य विशेषताएँ'}}

                                    </th>
                                    <th>
                                        {{language1=='En' ? 'WHAT THE PROGRAM IS NOT':'इस कार्यक्रम में क्या शामिल नहीं है'}}

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-show="language1=='En'">
                                    <td>A Political Leadership Incubator, for mid-career or senior professionals, with at least 10 yrs of experience.</td>
                                    <td>An entry-level internship.</td>
                                </tr>
                                <tr ng-show="language1=='Hi'">
                                    <td>एक राजनीतिक नेतृत्व इनक्यूबेटर, जो मध्य-स्तरीय या वरिष्ठ पेशेवरों के लिए है, जिनके पास कम से कम 10 वर्षों का अनुभव हो</td>
                                    <td>एक प्रवेश-स्तरीय इंटर्नशिप</td>
                                </tr>
                                <tr ng-show="language1=='En'">
                                    <td>A real path to leadership, not just another fellowship.</td>
                                    <td>A short-term, rigid, time-bound program</td>
                                </tr>
                                <tr ng-show="language1=='Hi'">
                                    <td>एक वास्तविक नेतृत्व मार्ग, केवल एक और फैलोशिप नहीं</td>
                                    <td>एक अल्पकालिक, कठोर और समय-सीमित कार्यक्रम</td>
                                </tr>
                                <tr ng-show="language1=='En'">
                                    <td>A once-in-a-lifetime chance to work closely with the top leadership, focused on mentorship, opportunities, and growth, working on real-world engagements.</td>
                                    <td>A traditional fellowship that offers passive learning experience through lectures, reading materials or limited interactions with senior leaders through occasional talks or panel discussions.</td>
                                </tr>
                                <tr ng-show="language1=='Hi'">
                                    <td>शीर्ष नेतृत्व के साथ निकटता से काम करने का एक दुर्लभ अवसर, जो मार्गदर्शन, अवसरों और विकास पर केंद्रित है, वास्तविक दुनिया की भागीदारी के साथ</td>
                                    <td>एक पारंपरिक फैलोशिप जो केवल व्याख्यान, अध्ययन सामग्री, या वरिष्ठ नेताओं के साथ सीमित बातचीत तक सीमित हो</td>
                                </tr>
                                <tr ng-show="language1=='En'">
                                    <td>No stipend, no fixed tenure but a real opportunity to transition from being a professional to a career politician.</td>
                                    <td>A general exposure program without a clear leadership pathway, incentivised with remuneration or false promises of a role.</td>
                                </tr>
                                <tr ng-show="language1=='Hi'">
                                    <td>कोई वजीफा नहीं, कोई निश्चित अवधि नहीं, बल्कि एक पेशेवर से करियर राजनेता बनने का वास्तविक अवसर</td>
                                    <td>एक सामान्य जागरूकता कार्यक्रम जिसमें स्पष्ट नेतृत्व मार्गदर्शन न हो, जो वेतन या झूठे वादों से प्रेरित हो</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="pt-5 pb-5" id="process">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="title">
                        {{language1=='En' ? 'APPLICATION AND SELECTION PROCESS':'आवेदन और चयन प्रक्रिया'}}

                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="top_img">
                        <img src="~/Content/images/1.png" />
                    </div>
                    <h4 class="sub_title">
                        {{language1=='En' ? 'SUBMIT YOUR APPLICATION':'अपना आवेदन जमा करें'}}
                    </h4>
                    <p>
                        {{language1=='En' ? ' Provide basic details + Aadhaar upload':'मूल जानकारी प्रदान करें और आधार कार्ड अपलोड करें'}}

                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="top_img">
                        <img src="~/Content/images/2.png" />
                    </div>
                    <h4 class="sub_title">
                        {{language1=='En' ? 'SHARE YOUR VISION':'अपना दृष्टिकोण साझा करें'}}
                    </h4>
                    <p>
                        {{language1=='En' ? 'Record a 3 minutes video introducing yourself and your vision for India’s future':'स्वयं का परिचय और भारत के भविष्य के लिए अपना दृष्टिकोण बताते हुए तीन मिनट का वीडियो रिकॉर्ड करें'}}

                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="top_img lastTI">
                        <img src="~/Content/images/3.png" />
                    </div>
                    <h4 class="sub_title">
                        {{language1=='En' ? 'PERSONAL INTERVIEW':'व्यक्तिगत साक्षात्कार '}}
                    </h4>
                    <p>
                        {{language1=='En' ? 'Engage with the selection committee to present your ideas and aspirations':'चयन समिति के साथ अपने विचार और आकांक्षाएँ प्रस्तुत करें'}}
                    </p>
                </div>
            </div>
        </div>
    </section>




    <section class="bg_3" id="Timeline">
        <div class="container">

            <div class="row mrg_top">
                <div class="col-lg-12">
                    <h1 class="title text-white mt-4">
                        {{language1=='En' ? 'YOUR JOURNEY STARTS HERE':'आपकी यात्रा यहाँ से शुरू होती है'}}
                    </h1>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-6">
                    <div class="journey_div">
                        <div class="date">
                            <h2>
                                {{language1=='En' ? '27th  March, 2025':'27 मार्च, 2025'}}
                            </h2>
                        </div>
                        <h3> {{language1=='En' ? 'Applications Open':'आवेदन प्रक्रिया शुरू'}}</h3>
                    </div>
                    <div class="journey_div">
                        <div class="date">
                            <h2>
                                {{language1=='En' ? '15th May, 2025':'15 मई, 2025'}}

                            </h2>
                        </div>
                        <h3> {{language1=='En' ? 'Applications Close':'आवेदन प्रक्रिया बंद'}}</h3>
                    </div>
                    <div class="journey_div no">
                        <div class="date">
                            <h2>
                                {{language1=='En' ? '15th June, 2025':'15 जून, 2025'}}

                            </h2>
                        </div>
                        <h3> {{language1=='En' ? 'Selection Announcements':'चयन की घोषणा'}}</h3>
                    </div>

                </div>
            </div>
        </div>
    </section>

    @*<section class="position-relative pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <img src="~/Content/images/youth_image_02.jpg" class="w-100" />
                    </div>
                    <div class="col-lg-6 ms-lg-auto">
                        <div class="abt_div">
                            <h1 class="title" ng-show="language1=='En'">
                                YOUR OPPORTUNITY<br />
                                TO LEAD THE CHANGE<br />
                                STARTS HERE
                            </h1>
                            <h1 class="title" ng-show="language1=='Hi'">
                                आपके बदलाव <br />का नेतृत्व करने का अवसर <br />यहीं से शुरू होता है
                            </h1>
                            <p ng-show="language1=='En'">
                                Applications close on 15th April, 2025.
                                Take the first step toward becoming
                                a transformative leader.
                            </p>
                            <p ng-show="language1=='Hi'">
                                आवेदन 15 अप्रैल, 2025 को बंद हो जाएंगे।
                                परिवर्तनकारी नेता बनने की दिशा में पहला कदम उठाएँ।
                            </p>
                            <a href="/apply" class="btn btn-warning mt-1 small_fnt">{{language1=='En' ? 'Apply Now':'अभी आवेदन करें'}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@

    <section class="position-relative pt-5 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="abt_div">
                        <h1 class="title" ng-show="language1=='En'">
                            COME JOIN THE NEXT<br /> GENERATION OF LEADERS
                        </h1>
                        <h1 class="title" ng-show="language1=='Hi'">
                            आइए नेतृत्व की <br /> इस यात्रा में कदम बढ़ाएं <br />और अगली पीढ़ी के नेताओं का हिस्सा बनें। 
                        </h1>


                    </div>
                </div>
                <div class="col-lg-2">
                    <a href="/apply" class="btn btn-warning mt-1 small_fnt">{{language1=='En' ? 'Apply Now':'अपने आवेदन की प्रक्रिया अभी शुरू करें'}}</a>
                </div>
            </div>
        </div>
    </section>

</main>