@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="position-relative">

        <img src="~/Content/images/main_slider.jpg" class="w-100 Mainslider" />
        <div class="container">
            <div class="main_title">
                <img src="~/Content/images/aipc_logo.png" />
                <h1>
                    Get Mentored<br />
                    today to lead<br />
                    India tomorrow!
                </h1>
                <a href="/apply" class="btn btn_main">Apply Now</a>
            </div>
        </div>

    </section>

    <section class="position-relative pt-5 pb-5" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <img src="~/Content/images/abt_img.jpg" class="w-100" />
                </div>
                <div class="col-lg-6 ms-lg-auto">
                    <div class="abt_div">
                        <h1 class="title">
                            Dreaming of a<br />
                            brighter future for india?<br />
                            work to build it today!
                        </h1>
                        <p>
                            The Dr. Manmohan Singh Fellows Program is an initiative by
                            the All India Professionals’ Congress to empower India’s
                            passionate young minds to become changemakers.
                        </p>
                        <p>
                            Through mentorship, real-world exposure to progressive
                            politics, and engagement in public policy, the fellowship
                            shapes leaders ready to craft a future that’s inclusive,
                            innovative, and impactful.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg pt-5 pb-5" id="why">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="title text-white">
                        WHY CHOOSE DR. MANMOHAN SINGH FELLOWS PROGRAM?
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="top_img">
                        <img src="~/Content/images/visionaries_icon.png" />
                    </div>
                    <h4 class="sub_title">
                        LEARN FROM VISIONARIES
                    </h4>
                    <p class="text-white">
                        Work closely with India’s top
                        leaders and thinkers shaping
                        the nation’s future.
                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="top_img">
                        <img src="~/Content/images/world_Impact_icon.png" />
                    </div>
                    <h4 class="sub_title">
                        DRIVE REAL-WORLD IMPACT
                    </h4>
                    <p class="text-white">
                        Contribute to transformative projects addressing national and local challenges.
                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="top_img lastTI">
                        <img src="~/Content/images/national_network_icon.png" />
                    </div>
                    <h4 class="sub_title">
                        JOIN A NATIONAL NETWORK
                    </h4>
                    <p class="text-white">
                        Collaborate with progressive peers committed to advancing India’s growth story.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="pb-5 pt-5" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="title">
                        WHO WE’RE LOOKING FOR
                    </h1>
                    <p class="small_fnt">Preference for those coming from rural/modest background.</p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="cards">
                    <div class="card">
                        <div class="card-body">
                            <div class="top_img1">
                                <img src="~/Content/images/indian_citizen_icon.png" />
                            </div>
                            <p class="small_fnt">Indian citizen, 30 years or younger</p>
                        </div>
                    </div>

                </div>
                <div class="cards">
                    <div class="card">
                        <div class="card-body">
                            <div class="top_img1">
                                <img src="~/Content/images/bachelors_icon.png" />
                            </div>
                            <p class="small_fnt">Holds a Bachelor’s degree in any discipline</p>
                        </div>
                    </div>

                </div>
                <div class="cards">
                    <div class="card">
                        <div class="card-body">
                            <div class="top_img1">
                                <img src="~/Content/images/leadership_icon.png" />
                            </div>
                            <p class="small_fnt">Demonstrates a passion for public service, leadership, or societal change</p>
                        </div>
                    </div>

                </div>
                <div class="cards">
                    <div class="card">
                        <div class="card-body">
                            <div class="top_img1">
                                <img src="~/Content/images/solutions_driven_icon.png" />
                            </div>
                            <p class="small_fnt">Embodies progressive, inclusive thinking and a solutions-driven mindset</p>
                        </div>
                    </div>

                </div>
                <div class="cards">
                    <div class="card">
                        <div class="card-body">
                            <div class="top_img1">
                                <img src="~/Content/images/work_experience_icon.png" />
                            </div>
                            <p class="small_fnt">Work experience is an asset but not mandatory</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="bg rvs pt-5 pb-5" id="process">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="title text-white">
                        APPLICATION AND SELECTION PROCESS
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="top_img">
                        <img src="~/Content/images/1.png" />
                    </div>
                    <h4 class="sub_title">
                        SUBMIT YOUR APPLICATION
                    </h4>
                    <p class="text-white">
                        Provide basic details +
                        Aadhaar upload
                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="top_img">
                        <img src="~/Content/images/2.png" />
                    </div>
                    <h4 class="sub_title">
                        SHARE YOUR VISION
                    </h4>
                    <p class="text-white">
                        Record a 3 minutes video introducing yourself and your vision for India’s future
                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="top_img lastTI">
                        <img src="~/Content/images/3.png" />
                    </div>
                    <h4 class="sub_title">
                        PERSONAL INTERVIEW
                    </h4>
                    <p class="text-white">
                        Engage with the selection
                        committee to present your
                        ideas and aspirations
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="pb-5 pt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h1 class="title">
                        LEADERS <br />BEHIND THE <br />FELLOWSHIP
                    </h1>
                    <p>Our eminent committee ensures a fair, transparent process to identify passionate young leaders.</p>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-4 position-relative p_bg">
                            <img src="~/Content/images/priyanka.jpg" class="w-100" />
                            <div class="details">
                                <h5 class="text-white mb-0">SMT. PRIYANKA GANDHI</h5>
                                <p class="small_fnt text-white mb-0">General Secretary of Congress</p>
                            </div>
                        </div>
                        <div class="col-lg-4 position-relative p_bg">
                            <img src="~/Content/images/shiri_ajay.jpg" class="w-100" />
                            <div class="details">
                                <h5 class="text-white mb-0">SHRI AJAY MAKEN</h5>
                                <p class="small_fnt text-white mb-0">Treasurer of Congress</p>
                            </div>
                        </div>
                        <div class="col-lg-4 position-relative p_bg">
                            <img src="~/Content/images/praveen.jpg" class="w-100" />
                            <div class="details">
                                <h5 class="text-white mb-0">SHRI PRAVEEN CHAKRAVARTY</h5>
                                <p class="small_fnt text-white mb-0">Chairman of AIPC</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg_3" id="Timeline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="small_fnt sec_para">
                        Join our prestigious fellowship program, where we select 50 exceptional individuals annually, striving to represent
                        every state and Union Territory across India. Seize this opportunity to make a nationwide impact and become a leader
                        in your community. Apply now to be the change-maker from your region!
                    </p>
                </div>
            </div>
            <div class="row mrg_top">
                <div class="col-lg-12">
                    <h1 class="title text-white mt-4">
                        YOUR JOURNEY STARTS HERE
                    </h1>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-6">
                    <div class="journey_div">
                        <div class="date">
                            <h2>15th Feb, 2025</h2>
                        </div>
                        <h3>Applications Open</h3>
                    </div>
                    <div class="journey_div">
                        <div class="date">
                            <h2>15th April, 2025</h2>
                        </div>
                        <h3>Applications Close</h3>
                    </div>
                    <div class="journey_div no">
                        <div class="date">
                            <h2>15th May,, 2025</h2>
                        </div>
                        <h3>Selection Announcements</h3>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="position-relative pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <img src="~/Content/images/youth_image_02.jpg" class="w-100" />
                </div>
                <div class="col-lg-6 ms-lg-auto">
                    <div class="abt_div">
                        <h1 class="title">
                            YOUR OPPORTUNITY<br />
                            TO LEAD THE CHANGE<br />
                            STARTS HERE
                        </h1>
                        <p>
                            Applications close on 15th April, 2025.
                            Take the first step toward becoming
                            a transformative leader.
                        </p>
                        <a href="/apply" class="btn btn-warning mt-1 small_fnt">Apply Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>