
@{

    ViewBag.Title = "CHAMPIONING YOUNG LEADERS FOR  A BETTER TOMORROW";
}
<script src="~/Scripts/ngStorage.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<style type="text/css">


    /* CSSTerm.com Simple CSS menu */
    body {
        background: #fff !important;
        overflow-y: auto;
    }

    .inner_div1 {
        height: auto;
    }
    #navbar, footer{
        display:none;
    }
    label {
        font-size: 14px;
        font-weight: 500;
        color: #414042;
    }
    .bdr_yellor {
        border-top: 1px solid #ffcd00;
        border-bottom: 1px solid #ffcd00;
    }
    .bdr-btm_yellow {
        border-bottom: 1px solid #ffcd00;
    }
    .btn{
        border-radius:10px;
    }
    .custom-file {
        position: relative;
        display: inline-block;
        width: auto;
        padding:10px 0
    }

        .custom-file input[type="file"] {
            position: absolute;
            width: auto;
            height: 100%;
            opacity: 0; /* Hide default input */
            cursor: pointer;
        }

    .custom-file-label {
        background: #e9ecf3; /* Change background color */
        color: #9e9e9e;
        padding: 5px 15px;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }

        .custom-file-label:hover {
            background: #0056b3; /* Darker on hover */
        }

    .form-control, .form-select {
        background-color: #e8eaf1;
    }


    /* The snackbar - position it at the bottom and in the middle of the screen */
    #snackbar {
        visibility: hidden; /* Hidden by default. Visible on click */
        min-width: 250px; /* Set a default minimum width */
        margin-left: -125px; /* Divide value of min-width by 2 */
        background-color: #1caaec; /* Black background color */
        color: #fff; /* White text color */
        text-align: center; /* Centered text */
        border-radius: 2px; /* Rounded borders */
        padding: 16px; /* Padding */
        position: fixed; /* Sit on top of the screen */
        z-index: 9999; /* Add a z-index if needed */
        left: 50%; /* Center the snackbar */
        bottom: 30px; /* 30px from the bottom */
    }

        /* Show the snackbar when clicking on a button (class added with JavaScript) */
        #snackbar.show {
            visibility: visible; /* Show the snackbar */
            /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }
    .msg {
        word-wrap: break-word;
        min-width: 50px;
        max-width: 90%;
        padding: 12px 10px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        background: #1caaec;
        color: white;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top:0;
        max-height: 99vh;
        overflow-y: auto;
        width: 75%;
        margin: auto;
    }
    .loading {
        position: absolute;
        z-index: 9999;
        background: white;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .loading img {
            width: 150px;
        }
    .main_title img{
        width:300px
    }
    .overlay{
        width:100%;
        height:100vh;
        background:rgba(0,0,0,0.6);
        position:fixed;
        left:0;
        top:0;
        z-index:99;
    }
    @@media screen and (max-width: 767px) {
        .main_title img {
            width: 150px;
        }
        .msg{
            width:90%;
            
        }
    }
    .progress-wrapper {
        width: 100%;
    }

        .progress-wrapper .progress {
            background-color: #1caaec;
            width: 0%;
            padding: 5px 0px 5px 0px;
            color: white;
            height: 27px;
            margin-top: 10px;
            justify-content: center;
        }
</style>
<div ng-app="myApp" ng-controller="mmsfellowshipController">
    <section class="position-relative">

        <img src="~/Content/images/main_slider1.jpg" class="w-100 Mainslider" />
        <div class="container">
            <div class="main_title">
                <a href="/"><img src="~/Content/images/main_logo_white.png" /></a>
                <h1 class="text-white" ng-show="language1=='En'">
                    CHAMPIONING<br />
                    YOUNG LEADERS<br />
                    FOR A BETTER<br />
                    TOMORROW
                </h1>
                <h1 class="text-white" ng-show="language1=='Hi'">
                    युवा नेताओं का समर्थन<br />
                    बेहतर कल के लिए
                </h1>

            </div>
        </div>

    </section>
   
    <div class="container">
        <div class="main_left_panel">

            <div class="inner_div1 row mt-5"> 
                 
                <div class="col-md-6 mx-lg-auto"> 
                    <div class="overlay" id="content" style="display:none">
                        <div class="row col-md-12 msg">
                            <p style="color:white" ng-show="language1=='En'">
                                Thank you for your interest in the Dr. Manmohan Singh Fellows Program by the All India Professionals’ Congress. We are thrilled to see your passion for public service and leadership, and we appreciate your commitment to shaping a brighter future for India.
                                <br /><br />
                                <b>Next Steps</b><br /><br />

                                Your application has been received successfully. As part of the selection process, here’s what to expect:<br /><br />

                                1. Application Review – Our team will assess your submission based on the eligibility criteria and your demonstrated passion for societal change.<br />

                                2. Video Submission – If you haven’t already, please record and submit a 3-minute video introducing yourself and your vision for India’s future and email to <a href="mailto:mmsfellows@profcongress.in" class="text-white">mmsfellows@profcongress.in</a><br />

                                3. Personal Interview – Shortlisted candidates will be invited for an interaction with our selection committee to discuss their ideas and aspirations further.<br /><br />

                                We appreciate your enthusiasm and the time you have taken to apply. Should you have any questions or require any assistance, feel free to reach out at <a href="mailto:mmsfellows@profcongress.in" class="text-white">mmsfellows@profcongress.in</a><br /><br />

                                Stay tuned for updates on your application status!
                                <br /><br />
                                Best regards,<br />
                                Dr. Manmohan Singh Fellows Program Team<br />
                                All India Professionals’ Congress
                            </p>
                            <p style="color:white" ng-show="language1=='Hi'">
                                डॉ. मनमोहन सिंह फेलोज़ प्रोग्राम में आपकी रुचि के लिए धन्यवाद। हम आपकी जनसेवा और नेतृत्व के प्रति जुनून को देखकर उत्साहित हैं और भारत के उज्जवल भविष्य को संवारने के प्रति आपकी प्रतिबद्धता की सराहना करते हैं।

                                <br /><br />

                                <b>अगले चरण</b><br /><br />

                                आपका आवेदन सफलतापूर्वक प्राप्त हो गया है। चयन प्रक्रिया के हिस्से के रूप में, आगे की उम्मीद करें:<br /><br />

                                1. **आवेदन समीक्षा** – हमारी टीम आपकी पात्रता मानदंडों और समाज में बदलाव लाने के आपके जुनून के आधार पर आपके आवेदन का मूल्यांकन करेगी।<br />

                                2. **वीडियो सबमिशन** – यदि आपने अभी तक नहीं किया है, तो कृपया अपना 3-मिनट का वीडियो रिकॉर्ड करें, जिसमें आप अपना परिचय दें और भारत के भविष्य के लिए अपनी दृष्टि साझा करें, और इसे <a href="mailto:mmsfellows@profcongress.in" class="text-white">mmsfellows@profcongress.in</a> पर ईमेल करें।<br />

                                3. **व्यक्तिगत साक्षात्कार** – शॉर्टलिस्ट किए गए उम्मीदवारों को हमारे चयन समिति के साथ बातचीत के लिए आमंत्रित किया जाएगा, जहां वे अपने विचारों और आकांक्षाओं पर चर्चा कर सकेंगे।<br /><br />

                                हम आपके उत्साह और आवेदन के लिए समय निकालने की सराहना करते हैं। यदि आपके कोई प्रश्न हैं या आपको किसी सहायता की आवश्यकता है, तो कृपया <a href="mailto:mmsfellows@profcongress.in" class="text-white">mmsfellows@profcongress.in</a> पर संपर्क करें।<br /><br />

                                अपने आवेदन की स्थिति पर अपडेट के लिए जुड़े रहें!
                                <br /><br />

                                **सादर,**<br />
                                **डॉ. मनमोहन सिंह फेलोज़ प्रोग्राम टीम**<br />
                                **ऑल इंडिया प्रोफेशनल्स कांग्रेस**
                            </p>
                                <button class="btn btn-warning mt-3 mb-3 text-white" ng-click="close()" style="height:45px">Close</button>
                        </div>
                    </div>
                    <h3 class="mb-3 mt-5 title font-normal divRegister"><b>{{language1=='En' ? 'Register':'रजिस्टर करें'}}</b></h3>
                    <div class="row" id="divForm">
                        <div class="loading" style="display:none">
                            <img src="@Url.Content("~/Content/images/spinner.gif")" class="spinner" />
                        </div>
                        <div class="col-md-12">
                            <div class="row g-3 align-items-center mb-3">
                                <div class="col-lg-3">
                                    <label for="inputPassword6" class="col-form-label">{{language1=='En' ? 'Full Name *':'पूरा नाम *'}}</label>
                                </div>
                                <div class="col-lg-9">
                                    <input type="text" id="txtName" ng-model="Name" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row g-3 align-items-center mb-3">
                                <div class="col-lg-3">
                                    <label for="inputPassword6" class="col-form-label">{{language1=='En' ? 'DOB *':'जन्म तिथि'}}</label>
                                </div>
                                <div class="col-lg-9">
                                    <input type="date" id="txtDOB" ng-model="DOB" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row g-3 align-items-center mb-3">
                                <div class="col-lg-3">
                                    <label for="inputPassword6" class="col-form-label">{{language1=='En' ? 'Gender *':'लिंग *'}}</label>
                                </div>
                                <div class="col-lg-9">
                                    <select class="form-select" id="drpGender" ng-model="Gender">
                                        <option value="">Select Gender</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row g-3 align-items-center mb-3">
                                <div class="col-lg-3">
                                    <label for="inputPassword6" class="col-form-label">{{language1=='En' ? 'Mobile No *':'मोबाइल नंबर*'}}</label>
                                </div>
                                <div class="col-lg-9">
                                    <input type="text" id="txtMobileNo" ng-model="MobileNo" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row g-3 align-items-center mb-3">
                                <div class="col-lg-3">
                                    <label for="inputPassword6" class="col-form-label">{{language1=='En' ? 'Email *':'ईमेल *'}}</label>
                                </div>
                                <div class="col-lg-9">
                                    <input type="text" id="txtEmail" ng-model="EmailAddress" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row g-3 align-items-center mb-3">
                                <div class="col-lg-3">
                                    <label for="inputPassword6" class="col-form-label">{{language1=='En' ? 'State *':'राज्य '}} </label>
                                </div>
                                <div class="col-lg-9">
                                    <select class="form-select" id="drpStateList" ng-model="StateID" ng-change="FilterDistrict()">
                                        <option value="">Select State</option>
                                        <option value="{{x.STATEID}}" ng-repeat="x in StateList">{{x.STATENAME}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row g-3 align-items-center mb-3">
                                <div class="col-lg-3">
                                    <label for="inputPassword6" class="col-form-label">{{language1=='En' ? 'District *':'जिला * '}} </label>
                                </div>
                                <div class="col-lg-9">
                                    <select class="form-select" id="drpStateList" ng-model="District">
                                        <option value="">Select District</option>
                                        <option value="{{x.DistrictID}}" ng-repeat="x in DistrictList">{{x.DistrictName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row g-3 align-items-center mb-3">
                                <div class="col-lg-3">
                                    <label for="inputPassword6" class="col-form-label">{{language1=='En' ? 'Qualification *':'शैक्षणिक योग्यता * '}}</label>
                                </div>
                                <div class="col-lg-9">
                                    <select class="form-select" id="drpStateList" ng-model="Qualification">
                                        <option value="">Select Qualification </option>
                                        <option value="Graduate">Graduate</option>
                                        <option value="Post Graduate">Post Graduate</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 bdr_yellor mb-3 mt-3">
                            <div class="row g-3 align-items-center">
                                <div class="col-lg-4">
                                    <label for="inputPassword6" class="col-form-label">  {{language1=='En' ? 'Upload Aadhar Card *':'आधार कार्ड अपलोड करें * '}}</label>
                                </div>
                                <div class="col-lg-8">
                                    <div class="custom-file">
                                        <input type="file" id="txtFile_phot" accept="image/*" ng-model="Image">
                                        <label for="txtFile_phot" id="File_phot" class="custom-file-label"> {{language=='En' ? 'Choose File *':'फ़ाइल चुनें * '}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="progress-wrapper">
                                <div id="progress-bar-file2" class="progress"></div>
                            </div>
                        </div>

                        <div class="col-md-12 bdr-btm_yellow">
                            <div class="form-group d-flex flex-column input">
                                <label ng-show="language1=='En'">
                                    Submit a video (not more than 2 mins) answering the following question,
                                    You may record the answer in the language of your choice
                                    <br /><br />
                                    <b>“What is one change you are most determined to bring to Indian politics, and why?”</b>*
                                </label>
                                <label ng-show="language1=='Hi'">
                                    निम्नलिखित प्रश्न का उत्तर देते हुए 2 मिनट से अधिक का वीडियो सबमिट करें,
                                    आप अपनी पसंदीदा भाषा में उत्तर रिकॉर्ड कर सकते हैं
                                    <br /><br />
                                    <b>“भारतीय राजनीति में आप कौन सा एक बदलाव लाने के लिए सबसे अधिक संकल्पित हैं, और क्यों?”</b>*
                                </label>
                                <div class="custom-file">
                                    <input type="file" id="myFile" accept="video/mp4,video/x-m4v,video/*" ng-model="Video">
                                    <label for="txtFile" id="lblFile" class="custom-file-label">{{language1=='En' ? 'Choose File *':'फ़ाइल चुनें * '}}</label>
                                    <div class="progress-wrapper">
                                        <div id="progress-bar-file1" class="progress"></div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row g-3 align-items-center mb-3">
                                <div class="col-lg-3">
                                    <label for="inputPassword6" class="col-form-label">{{language1=='En' ? 'How did you get to know about this program? *':'आपको इस कार्यक्रम के बारे में कैसे पता चला? *'}}</label>
                                </div>
                                <div class="col-lg-9">
                                    <select class="form-select" id="drpprogram"   ng-model="program">
                                        <option value="">Select</option>
                                        <option value="Social media">Social media</option>
                                        <option value="⁠Industry Association">⁠Industry Association</option>
                                        <option value="Alumni group">Alumni group</option>
                                        <option value="Colleagues">Colleagues</option>
                                        <option value="Friends/Family">Friends/Family</option>
                                        <option value="Others">Others</option>
                                    </select>
                                    <input type="text"  id="txtEmail" ng-show="program=='Others'" ng-model="program_others" class="form-control mrg_top" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top:5%;margin-bottom:5%">
                            <button class="btn btn-warning w-100 text-white" id="btnSubmit" ng-click="SaveRecord()">{{language1=='En' ? 'Submit':'सबमिट करें '}}</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script type="text/javascript"> 
    var pageId = '@ViewBag.pageId'
    var membercode = ''
    $(document).ready(function () {
        $(".left_main_panel").hide();
    })
</script>
